In [1]:
import pandas as pd
import numpy as np

                                    Apuntes
    
De 2 condiciones en adelante primero los corchetes, y entre parentesis cada condicion.

~ (alt + 126) Al principio niega la condición, es decir, crea una condición opuesta.

Funciona por lógica booleana y retorna los valores que están en “True”. Es muy útil porque en ocasiones queremos filtrar o separar datos.

Llamamos los datos de un archivo csv para manejarlos

df_books = pd.read_csv('bestsellers-with-categories.csv')

df_books.head(2) ---> #muestra los primeros dos registros del dataFrame 

Mostrar datos que sean mayores a cierto valor

mayor2016 = df_books['Year'] > 2016
mayor2016

---> #muestra el dataFrame con valores booleanos. True para libros publicados desde el 2017

Filtrar datos en nuestro DataFrame que sean mayores a cierto valor

df_books[mayor2016]
---> #filtra los datos que cumplen con la condicion

También se puede colocar la condición directamente como parámetro

df_books[df_books['Year'] > 2016]
---> #filtra los datos que cumplen con la condicion

Mostrar los datos que sean igual a cierto valor

genreFiction = df_books['Genre'] == 'Fiction'
genreFiction ---> #muestra el dataFrame con valores booleanos. True para libros de tipo Fiction

Filtrado con varias condiciones

df_books[genreFiction & mayor2016]
---> #Filtra los libros que sean de tipo Fiction y que hayan sido publicado desde 2017

Filtrado con negación

df_books[~mayor2016]
---> #Filtra los libros publicados antes o igual al 2016

In [3]:
df=pd.read_csv("./bestsellers-with-categories.csv").rename(columns=str.lower)
df.head()

,name,author,user rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
mayor_2016=df["year"]>2016

In [10]:
df[mayor_2016].head()

,name,author,user rating,reviews,price,year,genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction

In [42]:
genre_fiction=df["genre"]=="fiction"
df[genre_fiction].head()

,name,author,user rating,reviews,price,year,genre,mayor_2016
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,fiction,False
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,fiction,False
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,fiction,True
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,fiction,True
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,fiction,True

In [43]:
df[genre_fiction&mayor_2016]

,name,author,user rating,reviews,price,year,genre,mayor_2016
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,fiction,True
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,fiction,True
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,fiction,True
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,fiction,True
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,fiction,True
...,...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,fiction,True
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,fiction,True
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,fiction,True
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,fiction,True
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,fiction,True

In [17]:
df[~mayor_2016]

,name,author,user rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
...,...,...,...,...,...,...,...
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction

In [23]:
df["mayor_2016"]=df["year"]>2016

In [24]:
df[mayor_2016]

,name,author,user rating,reviews,price,year,genre,mayor_2016
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,True
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,True
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,True
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction,True
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction,True
...,...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction,True
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,True
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,True
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,True
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,True

In [32]:
genero=df["genre"]="fiction"
genero

'fiction'

In [33]:
#f[(df["genre"]=="fiction") & (df["year"]>2016)]
df[(df["genre"]=="fiction") & (df["year"]>2016)]
df

,name,author,user rating,reviews,price,year,genre,mayor_2016
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,fiction,False
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,fiction,False
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,fiction,True
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,fiction,True
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,fiction,True
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,fiction,True
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,fiction,False
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,fiction,True
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,fiction,True
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,fiction,True

In [34]:
df[~mayor_2016]

,name,author,user rating,reviews,price,year,genre,mayor_2016
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,fiction,False
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,fiction,False
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,fiction,False
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,fiction,False
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,fiction,False
...,...,...,...,...,...,...,...,...
540,Wonder,R. J. Palacio,4.8,21625,9,2013,fiction,False
541,Wonder,R. J. Palacio,4.8,21625,9,2014,fiction,False
542,Wonder,R. J. Palacio,4.8,21625,9,2015,fiction,False
543,Wonder,R. J. Palacio,4.8,21625,9,2016,fiction,False
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,fiction,False